/* HomeScreen.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-title {
    font-size: 2.5rem;
    color: #333;
    margin: 0 10px;
}

.home-title-EHRS {
    font-size: 2.5rem;
    color: #cb2026;
    margin: 0 10px;
}

.home-icon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.home-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-nav li {
    margin: 10px 0;
    width: 100%;
}

.home-nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
}

.home-nav a .icon {
    margin-right: 8px;
}

.home-nav a:hover {
    background-color: #007bff;
    color: #fff;
}